---
title: Bas Heerschop - interieur & afbouw
---


<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#first">
        <div class= "navbar-brand"> 
        <% link_to '#' do %>
          <img src="images/bas.png" alt="Drone1 typo large">
          <% end %>
        </div>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="bs-navbar">
      <ul class="nav navbar-nav">
 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" data-toggle="modal" title="B" href="#contactModal">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header id="first">
  <div class="header-content">
    <div class="inner">
      <div class="landing-logo">

      </div>
    <!--  <h4>Bas heerschop</h4>  -->
      <hr>
<!--       <a href="#video-background" id="toggleVideo" data-toggle="collapse" class="btn btn-primary btn-xl">pause video</a> &nbsp; <a href="#last" class="btn btn-primary btn-xl page-scroll">Contact</a> -->
    </div>
  </div>

  </header>
  <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="text-center">
            <img src="images/bas.png"></h2>
            <h5 class="text-center">
              
            </h5>
            <p class="text-justify">
            Informatie volgt.
            </p>
            <br/>
            <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            <br>
          </div>
        </div>
      </div>
    </div>
      <div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="text-center">
            <img src="images/bas.png"></h2>
            <h5 class="text-center">
              Contact
            </h5>
            <ul>

            <li><a href="tel:+31651899454">+31651899454</a></li>
            <li><a href="basheerschop@kpnmail.nl?subject=info via site">Mail mij!</a></li>
            <li><a href="https://www.facebook.com/BasHeerschop-Interieur-Afbouw-853542798017742/?pnref=lhc" target="_blank">Facebook</a></li>
               </ul>
            </p>
            <br/>
            <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            <br>
          </div>
        </div>
      </div>
    </div>

    <a href="http://www.stekweb.nl" target="_blank"></a> 
 